/* Box Model Hack */
* {
    box-sizing: border-box;
    
  }
  
  html{
    font-size: 62.5%;
    background-color:rgba(84, 76, 130, 0.41) ;
    color:white;
    
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
   h1,
   h2,
   h3,
   img,
   p,
   form {
    display: flex;
    justify-content: center;
  
  } 
  ul{
    list-style: none;
  }
 
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
 

  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  /* category items */
  .grid-container > div {
    border: solid black; 
    height: 20rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;

  }
  /* background images */
  .category0{
    background: center / cover  no-repeat url('../img/category0.jpg');
  }
  .category1{
    background: center / cover  no-repeat url('../img/category1.jpg');
  }
  .category2{
    background: center / cover  no-repeat url('../img/category2.jpg');
  }
  .category3{
    background: center / cover  no-repeat url('../img/category3.jpg');
  }
  .category4{
    background: center / cover  no-repeat url('../img/category4.jpg');
  }
  .category5{
    background: center / cover  no-repeat url('../img/category5.jpg');
  }

  /* header design */
  .grid-container > div > a{
    width: 100%;
    color:white;
  }
  a{
    text-decoration: none;
  }
  h3{
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
  }
  h3:hover{
    /* opacity: 0.50; */
    /* background-color: rgba(182, 182, 199, 0.56); */
    background-color: yellow;
    color:black;
  }
  h2{
    font-size: 3rem;
  }
  h1{
    font-size: 5rem; 
    text-align: center;
  }
 

  /* Loading Function */
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.2);
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader-hidden{
    opacity: 0;
    visibility:  hidden;
  }
  .loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid rgb(22, 151, 197);
    border-top-color: white;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from{
      transform:rotate(0turn);
    }
    to{
      transform:rotate(1turn);
    }
  } 
  /* artwork html  */
  .art{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  .description{
    font-size: 2rem;
    color: purple;
    padding-bottom: 3rem;
    border-bottom: 2px solid white;
     margin: 10px auto;
    text-align: center
  }
  .art img{
    margin: auto;
    width: 50%;
    height: auto
  }
  .contianer{
   padding: 3rem;
    margin:auto;
  }
  .navigation{
    display:block;
    text-align:center;
    font-size: 2rem;
    margin-bottom:3rem;
  }
 